
.dark-blue {
    background-color: #007BFF;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.message {
    margin-top: 80px;
}

h1 {
    cursor: pointer;
}

header {
 background-color: #1c5799;
}

