#raw_html, #image_entry {
    height: 80vh;
}

.section-container {
    position: relative;
    height: 80%; 
    margin: 2rem;  
    padding: 1rem; 
}

#article_body {
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    height: 100vh;
}